:root {
    --main-color: #e4c590;

    --duration: .5s;

    --spacing: 2px;
}

* {
    font-family: "Nunito", sans-serif;
}

body {
    font-family: "DM Sans", sans-serif;
    height: 5000px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Forum";
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

section {
    padding: 100px 0px;
}
section>img {
    position: absolute;
    animation: hop 2s alternate linear infinite;
}

.decor-icon {
    width: 100px;
}

.main-color {
    color: var(--main-color);
}

.main-bg {
    background-image: url("../images/bg.png");
    background-color: #0E0D0C;
}

/* & Main Button & */
.mainButton {
    border: 2px solid var(--main-color);
    padding: 15px 40px;
    font-size: 14px;
    background-color: transparent;
    letter-spacing: var(--spacing);
    position: relative;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    margin-top: 20px;
}

.mainButton::before,
.mainButton::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    height: 50%;
    width: 100%;
    background-color: var(--main-color);
    transition-duration: var(--duration);
    z-index: 0;
}

.mainButton::before {
    top: 0px;
    transform: translateY(-100%);
}

.mainButton::after {
    bottom: 0px;
    transform: translateY(100%);
}

.mainButton:hover::before,
.mainButton:hover::after {
    transform: translateY(0%);
}

.mainButton span {
    position: relative;
    color: var(--main-color);
    transition-duration: var(--duration);
    z-index: 1;
}

.mainButton:hover span {
    color: #000;
}

/* & Main Link & */
.mainLink {
    position: relative;
    color: #fff;
    transition-duration: var(--duration);
}

.mainLink:hover,
.mainLink.active,
li.active .mainLink {
    color: var(--main-color);
}

.mainLink::after {
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: var(--duration);
    height: 4px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

li.active .mainLink::after,
.mainLink.active::after,
.mainLink:hover::after {
    width: 100%;
}

/** Title */
.title h4 {
    color: var(--main-color);
    font-size: 16px;
    letter-spacing: var(--spacing);
}

.title img {
    width: 100px;
    margin: 10px 0px;
}

.title h2 {
    color: #fff;
}

/** Hide */
.hide {
    opacity: 0;
}