@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes navSliderButton {
    0%{
        width: 100%;
    }
    100%{
        width: 50%;
    }
}

@keyframes hop {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(30px);
    }
}

@keyframes rotateLetter {
    from {
        transform: rotateY(270deg);
        opacity: 0;
    }
    
    to {
        transform: rotateY(360deg);
        opacity: 1;
    }
}
@keyframes rotateLoad {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}