/* 350 */
@media (max-width: 1300px) {
    .mainButton {
        padding: 10px 15px;
        font-size: 12px;
        margin-top: 10px;
    }

    /** Navbar Section */
    nav .container .links {
        display: none;
    }

    /** Header Section */
    #Home .carousel-body .carousel-content .content *:not(.decor-icon) {
        margin-bottom: 10px;
    }

    #Home .carousel-body .carousel-content .content h1 {
        font-size: 30px;
    }

    #Home .carousel-body .carousel-content .content h6 {
        font-size: 14px;
    }

    #Home .carousel-body .carousel-content .content p {
        font-size: 12px;
    }

    #Home .next,
    #Home .prev {
        display: none;
    }

    .book-table {
        width: 80px;
        height: 80px;
        bottom: 30px;
        left: 30px;
    }

    .book-table p {
        font-size: 10px;
    }

    /* & Book A Table popup & */
    .popup .popup-element {
        width: 300px;
        margin: 30px auto;
    }

    .popup .popup-element form .part {
        flex-direction: column;
        gap: 20px;
    }

    .popup .popup-element form .part input {
        width: 100%;
    }

    /* & NavBar popup & */
    .nav-popup .nav-popup-ele {
        width: 300px;
    }

    .nav-popup .nav-popup-ele .text p {
        font-size: 12px;
    }

    .nav-popup .nav-popup-ele .book-now a {
        font-size: 22px;
    }

    /** Our Story Section */
    #Story .part-1 p {
        font-size: 12px;
    }

    #Story .part-2 .poster-1 {
        width: 100px;
        height: 100px;
    }

    #Story .part-2 .poster-2 {
        width: 130px;
        bottom: -50px;
    }

    /** Menu Section */
    .line {
        display: none;
    }

    #Menu .content .menu-content .main-menu.show .item:nth-of-type(2) {
        transition-delay: .3s;
    }

    #Menu .content .menu-content .main-menu.show .item:nth-of-type(3) {
        transition-delay: .6s;
    }

    #Menu .content .menu-content .main-menu.show .item:nth-of-type(4) {
        transition-delay: .9s;
    }

    #Menu .content .menu-content .main-menu.show .item:nth-of-type(5) {
        transition-delay: 1.2s;
    }

    #Menu .content .menu-content .main-menu.show .item:nth-of-type(6) {
        transition-delay: 1.5s;
    }

    #Menu .content .menu-content .item .frame .image {
        width: 80px;
        height: 80px;
    }

    /** Our Chefs Section */
    #Chefs .content .box .item {
        width: 250px;
        margin: auto;
    }

    /** Loading Page */
    .loading .content .text p {
        font-size: 50px;
    }
}

/* 450 */
@media (min-width: 371px) and (max-width: 1300px) {

    /** Header Section */
    #Home .carousel-body .carousel-content .content *:not(.decor-icon) {
        margin-bottom: 15px;
    }

    #Home .carousel-body .carousel-content .content h1 {
        font-size: 40px;
    }

    #Home .carousel-body .carousel-content .content h6 {
        font-size: 16px;
    }

    #Home .carousel-body .carousel-content .content p {
        font-size: 14px;
    }

    /* & Book A Table popup & */
    .popup .popup-element {
        width: 90%;
    }

    /** Our Story Section */
    #Story .part-1 p {
        font-size: 14px;
    }

    /** Menu Section */
    #Menu .content .menu-content .item .frame .image {
        width: 100px;
        height: 100px;
    }

    /** Loading Page */
    .loading .content .text p {
        font-size: 60px;
    }
}

/* 650 */
@media (min-width: 577px) and (max-width: 1300px) {

    /** Header Section */
    #Home .carousel-body .carousel-content .content h1 {
        font-size: 50px;
    }

    /* & Book A Table popup & */
    .popup .popup-element {
        width: 400px;
    }

    .popup .popup-element form .part {
        flex-direction: row;
        gap: 0px;
    }

    .popup .popup-element form .part input {
        width: calc(50% - 10px);
    }

    /* & NavBar popup & */
    .nav-popup .nav-popup-ele {
        width: 400px;
    }

    .nav-popup .nav-popup-ele .text p {
        font-size: 16px;
    }

    .nav-popup .nav-popup-ele .book-now a {
        font-size: 28px;
    }


    /** Our Story Section */
    #Story .part-2 .poster-1 {
        width: 110px;
        height: 110px;
    }

    #Story .part-2 .poster-2 {
        width: 150px;
        bottom: -50px;
    }


    #Chefs .content .box .item {
        width: 100%;
    }

    /** Loading Page */
    .loading .content .text p {
        font-size: 70px;
    }
}

/* 850 */
@media (min-width: 769px) and (max-width: 1300px) {

    /** Header Section */
    #Home .carousel-body .carousel-content .content h1 {
        font-size: 70px;
    }

    /* & Book A Table popup & */
    .popup .popup-element {
        width: 500px;
    }

    /** Menu Section */
    .line {
        display: block;
    }

    #Menu .content .menu-content .main-menu.show .item:nth-of-type(3) {
        transition-delay: .3s;
    }

    #Menu .content .menu-content .main-menu.show .item:nth-of-type(5) {
        transition-delay: .6s;
    }

    #Menu .content .menu-content .main-menu.show .item:nth-of-type(2) {
        transition-delay: .9s;
    }

    #Menu .content .menu-content .main-menu.show .item:nth-of-type(4) {
        transition-delay: 1.2s;
    }

    #Menu .content .menu-content .main-menu.show .item:nth-of-type(6) {
        transition-delay: 1.5s;
    }

    /** Loading Page */
    .loading .content .text p {
        font-size: 80px;
    }
}

/* 1050 */
@media (min-width: 992px) and (max-width: 1300px) {
    .mainButton {
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 20px;
    }

    /** Our Story Section */
    #Story .part-2 .poster-1 {
        width: 130px;
        height: 130px;
    }

    #Story .part-2 .poster-2 {
        width: 200px;
    }
}

/* 1250 */
@media (min-width: 1181px) and (max-width: 1300px) {}